<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Name</ion-label>
    Ben Clancy
    <ion-avatar class="avatar">
      <img
        width="256"
        src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
      />
    </ion-avatar>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    Benmclancy@gmail.com
  </ion-item>
  <ion-item>
    <ion-label>Phone Number</ion-label>
    (240)445-4023
  </ion-item>
  <ion-item>
    <ion-label>Bookings Made</ion-label>
    0
  </ion-item>
  <ion-item>
    <ion-label>Reviews Received</ion-label>
    0
  </ion-item>
</ion-content>
