<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>register</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div>
      <ion-input clearInput placeholder="First Name"></ion-input>
    </div>
    <div>
      <ion-input clearInput placeholder="Last Name"></ion-input>
    </div>
    <div>
      <ion-input clearInput placeholder="E-Mail"></ion-input>
    </div>
    <div>
      <ion-input clearInput placeholder="Password" type="password"></ion-input>
    </div>
    <div style="text-align:center">
      <ion-button (click)="navToLogin()">Create Account</ion-button>
    </div>
  </ion-content>